<!DOCTYPE html>
<html>

<head>
    <title>Flag Knights - Teamdatenbank</title>
    <!--META-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- BOOTSTRAP CSS -->
    <link href="../css/grid.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.css">

    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/table.css" rel="stylesheet">

    <link href="../css/app.css" rel="stylesheet">

    <!--Javascript comes here -->
    <!-- jQuery -->

<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

    <script src="../js/bootstrap.js"></script>
    <script src="../js/bootstrap-datetimepicker.js"></script>


    <!--TableSort-->
    <script src="../js/stupidtable.js"></script>
