hr {
  border-color: #BDBDBD;
  border-width: thin;
}

.arrow{
  margin-left: 10px;
  font-size: 1.2em;
}



.btn-group-termin  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

.btn-group-termin .btn-termin + .btn-termin{
    margin-left: 3px;
}

.btn-termin {
  margin: 3px;
}

.box-training{
  min-width: 150px;
}
