th {
    background-color: #FFC107;
    color: white;
    font-weight: normal;
}

th:hover{
  cursor:pointer;
}

td:hover{
  cursor: pointer;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
  background-color: #ECEFF1;
}

.table-personen{
  margin-top: 30px;
}
