//output: ../dashboard.php
doctype html
|<?php
|include 'php/func/date.func.php';
|include 'php/func/personen.func.php';
|include 'php/func/db.func.php';
|?>
html
  head
    title Flag Knights - Teamdatenbank
    //META
    include base/meta.jade
    //STYLESHEETS
    include base/stylesheets.jade
    //JAVASCRIPT
    include base/javascript.jade  
  body 
    include bodies/b_dashboard.jade 
     
    
    
      
