//output: ../dashboard.php
doctype html
|<?php
|include 'php/func/personen.func.php';
|include 'php/func/db.func.php';
|include 'php/func/date.func.php';
|?>
html
  head
    title Flag Knights - Teamdatenbank
    include base/meta.jade
    include base/stylesheets_login.jade    
  body 
    include bodies/b_dashboard.jade       
  include base/javascript.jade  
  
    
    
      
