//output: ../index.php
doctype html
html
  head
    title Flag Knights - Teamdatenbank
    // META
    include base/meta.jade
    //STYLESHEETS
    include base/stylesheets_login.jade    
  body
    include bodies/b_login.jade
  //JAVASCRIPT
  include base/javascript.jade
      
  
    
    
      
