//output: ../index.php
doctype html
html
  head
    title Flag Knights - Teamdatenbank
    include base/meta.jade
    include base/stylesheets_login.jade    
  body
    include bodies/b_login.jade
  include base/javascript.jade  
  
    
    
      
