//output: ../php/inc/person_detail.inc.php
|<?php
|include 'php/func/db_personen.func.php';
|?>

a(href='dashboard.php?s=personen&action=overview') Zurück zur Übersicht...
.jumbotron
  .page-header
    h2 
      |<?php echo $vorname." ".$nachname;?>
    br
    small 
      |<?php echo $rolle;?>
    hr
