//output: ../php/inc/personen_overview.inc.php

include modals/modal_add_person.jade

h1 Personenübersicht
.container-fluid  
  .row
    // BUTTON um Modal einzublenden
    button.btn.btn-med.btn-success(type='button', data-toggle='modal', data-target='#myPersonModal') + Neue Person hinzufügen
  .row
    //PERSONENTABELLE aus Datenbank
    include tables/tabelle_personen.jade
    
  
    
